* {
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

.container {
    width: 100vw;
    display: flex;
    align-items: center;
}

.image {
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    margin: 0px 8px 0px 8px;
    border-radius: 70px;
    transition: flex 0.5s ease-in-out;
}

.image:hover {
    cursor: pointer;
}

.active {
    flex: 5;
    transition: flex 0.5s ease-in-out;
}

@media only screen and (max-width: 480px) {
    .image:nth-of-type(4), .image:nth-of-type(5) {
        display: none;
    }
}
